# Data Science Tools and Ecosystem

## Author
Nathaniel Corcoran

In this notebok, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List commonly used libraries for Data Scientists
* List Data Science Tools
* Demonstrate arithetic expressions of Python

Some of the popular languages that Data Scientists use are:
1. Rlanguage
2. Python
3. Java
4. Julia
5. SQL
6. Scala
7. Acorn C/C++
8. Swift

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow
5. Scikit-learn
6. SciPy
7. Seaborn
8. Plotly

|Data Science Tools|
|---|
|Apache Spark|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
hours, minutes = divmod(200, 60)
print(f"{hours} hours, {minutes} minutes")

3 hours, 20 minutes